<section
      class="about flex flex-col xl:flex-row m-10 md:m-20 lg:mx-40 gap-10"
    >
      <div class="flex justify-center flex-1 text-center">
        <img
          src="/images/about-us/about-img-1.webp"
          alt="About Us Image"
          class="w-full rounded-md object-contain xl:object-fit"
        />
      </div>
      <div class="flex flex-1 flex-col space-y-6">
        <h3 class="text-2xl font-semibold text-accent">
          About Hulas Remittance
        </h3>
        <h1 class="text-4xl font-bold">
          Delivering Happiness through fast and reliable services
        </h1>
        <p class="text-gray-600 text-lg">
          Hulas Remittance, a member company of Golchha Organization, was
          established in August 2005 with the vision to bring in quality and
          reliable money transfer services in to Nepal. A leading business house
          with a dedicated business history of more than 85 years, Golchha
          Organization has established “HULAS” as one of the most trusted
          household consumer brands in the country. Hulas Remittance, being one
          of the principal agents, playing a leading role in offering money
          transfer services of The Western Union Company in Nepal since January
          2006. We have been serving customers from more than 3,200 (comprising
          of major commercial banks, Development Banks, Finance Companies and
          cooperative organizations) locations have established brand promise of
          Western Union as a fast, reliable and convenient way of remittance
          service across the country. Hulas Remittance, being one of the
          principal agents, playing a leading role in offering money transfer
          services of The Western Union Company in Nepal since January 2006. We
          have been serving customers from more than 3,200 (comprising of major
          commercial banks, Development Banks, Finance Companies and cooperative
          organizations) locations have established brand promise of Western
          Union as a fast, reliable and convenient way of remittance service
          across the country.
        </p>
        <button
          class="m-3 text-left text-accent text-xl uppercase cursor-pointer"
        >
          read more
        </button>
      </div>
    </section>